<footer class="site-footer row column mtl" role="contentinfo">
  <hr/>
    <ul class="menu quiet copyright align-right">
      <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-square fa-6"></i>@{{ site.twitter }}</a></li>
      <li><a href="https://github.com/{{ site.github }}/"><i class="fa fa-github-square fa-6" aria-hidden="true"></i>@{{ site.github }}</a></li>
      <li><a href="https://linkedin.com/in/david-hamilton-b8a41156/"><i class="fa fa-linkedin-square fa-6" aria-hidden="true"></i>David Hamilton</a></li>
    </ul>
    <ul class="menu quiet">
      {% include nav.html %}
    </ul>
</footer>